@model PoneySeller.Models.Jumbotron

@functions
{
    public string[,] GetChevaux()
    {
        PoneySeller.Models.Users desUsagers = new PoneySeller.Models.Users(Session["MyPonies"]);
        string username = (string)Session["Username"];
        string[,] tab = desUsagers.GetChevaux(username);
        return tab;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PoneySeller", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    
                    @if (Session["Username"] != "")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Gestion
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Nouveau cheval", "Gestion", "Gestion")</li>
                                @{
                        string[,] tab = GetChevaux();
                        if (tab.Length > 0)
                        {
                            for (int i = 0; i < tab.Length; i++)
                            {
                                <li>@Html.ActionLink(tab[i, 0], "Gestion", "Gestion", new { _idcheval = tab[i, 1] }, new { @id = "cheval" + i, @value = tab[i,0] })</li>
                            }
                        }
                                }
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Profil", "Profil", "Gestion")</li>
                        <li>@Html.ActionLink("Deconnection", "Deconnection", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Inscription", "Inscription", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="image">
        @{Html.RenderPartial("_Jumbotron", Model);}
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var timer;
        function ChargeVuePartielle() {
            $.ajax({
                url: '@Url.Action("_Jumbotron")',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#image').html(result);
                }
            });
        }

        ChargeVuePartielle();
        $(function () {
            timer = window.setInterval("ChargeVuePartielle()", 5000);
        });
    </script>
</body>
</html>
